<div>
  <dx-data-grid height="790px" keyExpr="id" id="usersList" [dataSource]="roles" [showBorders]="true" (onSaving)="saveRole($event)">
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-editing [allowAdding]="true"
    [allowDeleting]="true"
    [allowUpdating]="true"
    mode="batch"
    ></dxo-editing>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-toolbar>
      <dxi-item name="addRowButton" location="center"></dxi-item>
      <dxi-item name="saveButton" location="center"></dxi-item>
      <dxi-item
        name="searchPanel"
        locateInMenu="auto"
        location="center">
      </dxi-item>
    </dxo-toolbar>
    <dxi-column dataField="name" dataType="string"></dxi-column>
    <dxi-column dataField="roleClaims" editCellTemplate="claimsListTemplate"
    cellTemplate="claimsListTemplate">
    <dxo-lookup [dataSource]="claimsSource" valueExpr="claimView" displayExpr="claimView">
    </dxo-lookup>
    </dxi-column>
    <div *dxTemplate="let cellInfo of 'claimsListTemplate'">
      <dx-tag-box
        [items]="claimsSource"
        [value]="cellInfo.value"
        displayExpr="claimView"
        [hideSelectedItems]="true"
        [maxDisplayedTags]="claimsSource.length"
        [showMultiTagOnly]="true"
        [searchEnabled]="true"
        (onValueChanged)="cellInfo.setValue($event.value)"
      >
      </dx-tag-box>
    </div>
  </dx-data-grid>
</div>
