<div>
  <dx-data-grid height="790px" keyExpr="id" id="usersList" [dataSource]="users" [showBorders]="true">
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-editing [allowAdding]="true"></dxo-editing>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-toolbar>
      <dxi-item name="addRowButton" location="center"></dxi-item>
      <dxi-item
        name="searchPanel"
        locateInMenu="auto"
        location="center">
      </dxi-item>
    </dxo-toolbar>
    <dxi-column dataField="userName" dataType="string"></dxi-column>
    <dxi-column dataField="email" dataType="string"></dxi-column>
  </dx-data-grid>
</div>
