<div class="long-title">
  <h3>Create a new User</h3>
</div>
<div id="new-user-form" class="row d-flex justify-content-center">
  <div class="col-md-3">
        <div class="form-container">
          <dx-form id="form" [colCount]="1" [formData]="newUser">
            <dxi-item dataField="userName">
              <dxi-validation-rule type="required" message="Username is required."></dxi-validation-rule>
              <dxi-validation-rule
                type="email"
                message="Email pattern doesn't match."></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="password">
              <dxi-validation-rule type="required" message="Password is required">
              </dxi-validation-rule>

            </dxi-item>
            <dxi-item dataField="confirmPassword">
              <dxi-validation-rule type="required" message="Confirm Password is required">
              </dxi-validation-rule>
              <dxi-validation-rule type="compare" [comparisonTarget]="passwordComparison" message="Don't compare"></dxi-validation-rule>
            </dxi-item>
            <!--<dxi-item
              itemType="button"
              horizontalAlignment="center"
              [buttonOptions]="registerButtonOptions">

            </dxi-item>-->
          </dx-form>
          <button class="btn btn-primary" type="button" (click)="createNewUser()">Create user</button>
    </div>
  </div>
</div>
