<input type="file" (change)="fileChangeEvent($event)" />
<div class="image-container">

  <div>
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="4 / 3"
      [resizeToWidth]="128"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()">
    </image-cropper>

  </div>

  <!--I'm using the :hover pseudo-class in CSS to control the opacity when hovering over the .image-container element.-->
  <div class="overlay">
    <p>Edit profile picture</p>
  </div>
</div>

