<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a><img src="../assets/logo.png" style="width: 65px;"></a>
    <a class="navbar-brand">Managment system</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class="row">
  <router-outlet></router-outlet>
</div>


